{% extends './layout.html' %}

{% block title %} Add Pokemon {% endblock title %}

{% block content %}
<h1>Add Pokemon</h1>
<form action="{{ url_for ('main2.create_poke') }}" method="POST">
    <div class="mb-3">
        <label for="inputPname" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputPname" name= "inputPname" >   
    </div>
    <div class="mb-3">
        <label for="inputDescription" class="form-label">Description</label>
        <input type="text" class="form-control" id="inputDescription" name = "inputDescription">
    </div>
    <div class="mb-3">
        <label for="inputType" class="form-label">Type</label>
        <input type="text" class="form-control" id="inputType" name = "inputType">
    </div>
    <button type="add" class="btn btn-primary">Add</button>
</form>

{% endblock content %}